<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Picker</title>
    <link rel="stylesheet" href="static/stockpicker.css">
</head>
<body>
    <div id = "top-images">
        <img id="trump"  src="static/trump.jpg" alt="trump" width="200">
        <img id="rocket"  src="static/rocketShip.jpg" alt="rocket" width="200">
    </div>
    <main>
        <h1>McGlaflin & McGlaflin & Co</h1>
        <span class="blinking">$$$Click Button and wait 20-30 seconds$$$</span>
        <form><button id="get-picks" type="button">Get Weekly Picks</button></form>
        <h3 id="first-pick"></h3>
        <h3 id="second-pick"></h3>
        <h3 id="third-pick"></h3>
        <h3 id="fourth-pick"></h3>
        <h3 id="fifth-pick"></h3>
    </main>

    <div id="bottom-images">
        <img id="wolf" class="fixed" src="static/wolf.jpg" alt="wolf" width="200">
        <img id="money"  src="static/money.jpg" alt="money" width="200">
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/stockpicker.js"></script>
</body>
</html>